.body{
  font-family: Arial;

}
.js-input,.js-date{
  padding:6px 8px;
}
.button-add{
  background-color: green;
  border: none;
  padding: 7px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  
}

.todo-input-grid,.show-item{
  display: grid;
  /* dive columns */
  grid-template-columns:187px 133px 86px;
  column-gap: 10px;
  row-gap: 13px;
  align-items: center;
 
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
  
}
.show-item{
margin-bottom: 5px;


}
.button-delete{
  background-color: darkred;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 15px;


}





/* .color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 3em;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  align-items: center;
  transition:  0.25 ease;
}
.color-display p{
  color:hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0,0%,80%);
} */

/* Counter */
/* .counter-container{
text-align: center;
font-family: Arial;
}
.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  color: white;
  background-color: hsl(197 100%, 58%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover{
  background-color: hsl(197, 100%, 48%);
}
 */

/* render lists */
/* .list-category{
font-size: 2.5em;
font-weight: bold;
color: hsl(0, 0%, 20%);
margin-bottom: 10px;
text-align: center;
border: 3px solid;
border-radius: 5px;
background-color: hsl(185, 100%, 50%);
}
.list-item li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
   text-align: center; 
  margin: 0;
}
.list-item li:hover{
  cursor: pointer;
  color: hsl(0, 0%, 45%);
} */


/* UserGreeting */
/* .welcome-message,.login-promt{
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding: 10x;
  border-radius: 5px;
  margin: 0;
}
.login-promt{
  background-color: darkred;
} */


/* student */

/* .student {
  font-family: Arial;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}
.student{
  margin: 0px;
} */


/*button*/
/* .button{
  background-color: rgba(26, 146, 205, 0.705) ;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
} */

/* card */
/* .card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px #0000001f;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  display: inline-block;

}


.card .card-image {
  width: 130px;
  border-radius: 50px;
  height: auto;
  margin-bottom: 11px;
}

.card .card-title {
  font-family: Arial;
  margin: 0;
  color: rgba(0, 0%, 20%);
  font-weight: bold;
}

.card .card-text {
  font-family: Arial;
  color: rgba(0, 0%, 30%);
} */